<section class="h-screen w-screen bg-gray-100 flex items-center justify-center text-center">
  <div class="max-w-4xl">
    <p class="mt-4 text-lg text-gray-600">Un fraude se concreta cuando el estafador recibe el dinero.</p>
    <h2 class="text-4xl md:text-6xl font-bold text-gray-800">Evitamos que te estafen.</h1>
    <p class="mt-4 text-lg text-gray-600">Protegemos tu dinero hasta que el acuerdo entre comprador y vendedor se cumple satisfactoriamente.</p>
      <div class="mt-6">
      <a href="/productos" class="px-6 py-3 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Ver Productos</a>
      <a href="/contacto" class="ml-4 px-6 py-3 bg-gray-200 text-gray-800 rounded-lg hover:bg-gray-300">Contáctanos</a>
    </div>
  </div>
</section>
