<section class="h-full w-screen grid items-center justify-center px-16 ">
  <div class="sm:px-8 py-8 ">
    <h2 class="mt-4 text-6xl font-bold text-blue-500 text-center mb-5">How it works!</h2>
 <p class="text-lg sm:text-xl text-gray-600 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dignissimos necessitatibus facere magnam libero aliquid at reiciendis accusantium, qui aliquam neque, quas ipsa quidem hic ratione sequi sunt tenetur incidunt! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed iusto natus repellat ea, voluptatibus quisquam. Dolores eos facilis, et nulla mollitia iusto blanditiis velit, sit ad incidunt tempore voluptatum fugiat.</p>
  </div>

</section>
