<div class="bg-gray-100 py-4 w-full h-full flex justify-center items-center">
  <div class="bg-white py-4 px-6 rounded-lg shadow-md flex flex-col w-[400px] h-[400px] ">
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">Inicia Sesión</h2>
    <form action="/login" method="POST">
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Correo Electrónico</label>
        <input type="email" id="email" name="email" placeholder="Ingresa tu correo" required
          class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
      </div>
      <div class="mb-6">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Contraseña</label>
        <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required
          class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
      </div>
      <div class="flex items-center justify-between mb-4">
        <div>
          <input type="checkbox" id="remember" name="remember" class="mr-2">
          <label for="remember" class="text-sm text-gray-600">Recordarme</label>
        </div>
        <a href="#" class="text-sm text-blue-500 hover:underline">¿Olvidaste tu contraseña?</a>
      </div>
      <button id="LogIn" type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600">Iniciar Sesión</button>
    </form>
    <p class="text-center text-gray-600 mt-4">
      ¿No tienes una cuenta? <a href="/register" class="text-blue-500 hover:underline">Regístrate</a>
    </p>
    <p id="errorMsg" class="text-center text-red-500 text-sm py-2 h-[1.25rem]">
       
    </p>
  </div> 
</div>



<script>
  const logInForm =document.querySelector('form')
  const LogInBtn  = document.querySelector('#LogIn');
  const mailInput : HTMLInputElement = document.querySelector('#email')!;
  const passInput : HTMLInputElement = document.querySelector('#password')!;
  const errorMsg : HTMLParagraphElement = document.querySelector('#errorMsg')!;

  logInForm?.addEventListener('submit', (event) => {
    event.preventDefault();
    if( mailInput.value === 'test@mail.com' ){
      
      errorMsg.style.display = "none"
      window.location.href = '/dashboard';
    } else {
      errorMsg.textContent = "Inicio de sesión no válido. Verifica tu información."
      errorMsg.style.display = "block"
    }
    
 

 
  }
 )
</script>
